## Data Analysis of Diamond Price and associated features


**About the Data Set:** The data consists of 53941 observations related to properties and prices of Diamond. The features are Price, Carat, Cut, Color, Clarity, Depth, Tabl, X, Y, and Z dimensions. The Data consists of many missin values which are to be assessed and analysed in order to proceed for model building.


**Objectives:**
1. Metadata Preparation
2. Outlier Analysis
3. Missing Value Imputation
4. New Attribute Creation
5. Attribute Encoding

**Importing Libraries**

In [387]:
import numpy as np
import pandas as pd
import scipy
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [388]:
import AdvancedAnalytics

**Data Reading**

In [389]:
df = pd.read_excel("C:/Users.....diamondswmissing.xlsx")
df.head()

   obs  price  Carat      cut color clarity  depth  table     x     y     z
0    1    326    NaN    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    2    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    3    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    4    334   0.29  Premium     I     VS2   62.4   58.0  4.20   NaN  2.63
4    5    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35   NaN

**Missing Value Assessment**

In [390]:
df.isnull().sum()

obs           0
price         0
Carat      5467
cut        2664
color      1571
clarity    1689
depth      1653
table      1600
x          1598
y          1636
z          1639
dtype: int64

**Number of Rows and Columns**

In [437]:
df.shape

(53940, 11)

In [392]:
from sklearn import preprocessing
from AdvancedAnalytics import ReplaceImputeEncode

**Outlier Analysis and Missing Values Assessment**

In [393]:
df_dropped=df.dropna(subset=['price']) #deoppping target variable missing values to avoide bias

In [394]:
data_map={\
            'cut':[2, ('Ideal', 'Premium', 'Good', 'Very Good', 'Fair'),[0,0]], \
            'color':[2,('E', 'I', 'J', 'H', 'F', 'G', 'D'),[0,0]],  \
            'clarity':[2,('SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'),[0,0]], \
            'Carat':[0, (0.2,5.5),[0,0]], \
            'depth':[0,(40, 80), [0,0]], \
            'table':[0,(40,100), [0,0]], \
            'x':[0, (0,11), [0,0]], \
            'y':[0, (0,60), [0,0]], \
            'z':[0, (0,32), [0,0]]}

In [395]:
rie = ReplaceImputeEncode(data_map=data_map, display=True)
df_rie=rie.fit_transform(df_dropped)

********** Data Preprocessing ***********
Features Dictionary Contains:
0 Interval,
0 Binary,
0 Nominal, and
11 Excluded Attribute(s).

Data contains 53940 observations & 11 columns.


Attribute Counts
.............. Missing  Outliers
cut......      2664         0
color....      1571         0
clarity..      1689         0
Carat....      5467         0
depth....      1653         0
table....      1600         0
x........      1598         0
y........      1636         0
z........      1639         0

**Data Imputation for Nominal, Ordinal and Interval Data**

In [396]:
# Put the interval data from the dataframe into a numpy array
interval_attributes=['Carat','depth','table','x','y','z']
interval_data=df_dropped.as_matrix(columns=interval_attributes)

C:\Users\vasuk\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [397]:
interval_imputer = preprocessing.Imputer(strategy='mean')

C:\Users\vasuk\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [398]:
# Impute the missing values in the Interval data
imputed_interval_data = interval_imputer.fit_transform(interval_data)
print("Imputed Interval Data:\n", imputed_interval_data)

Imputed Interval Data:
 [[ 0.79830896 61.5        55.          3.95        3.98        2.43      ]
 [ 0.21       59.8        61.          3.89        3.84        2.31      ]
 [ 0.23       56.9        65.          4.05        4.07        2.31      ]
 ...
 [ 0.79830896 62.8        60.          5.66        5.68        3.56      ]
 [ 0.86       61.         58.          5.73218047  6.12        3.53901971]
 [ 0.75       62.2        55.          5.83        5.87        3.64      ]]

In [399]:
cut_map={'Ideal':1, 'Premium':2, 'Good':3, 'Very Good':4, 'Fair':5}

In [400]:
df_dropped['cut'] = df_dropped['cut'].map(cut_map)
print(df_dropped)

         obs  price  Carat  cut color clarity  depth  table     x     y     z
0          1    326    NaN  1.0     E     SI2   61.5   55.0  3.95  3.98  2.43
1          2    326   0.21  2.0     E     SI1   59.8   61.0  3.89  3.84  2.31
2          3    327   0.23  3.0     E     VS1   56.9   65.0  4.05  4.07  2.31
3          4    334   0.29  2.0     I     VS2   62.4   58.0  4.20   NaN  2.63
4          5    335   0.31  3.0     J     SI2   63.3   58.0  4.34  4.35   NaN
5          6    336   0.24  4.0     J    VVS2   62.8   57.0  3.94  3.96  2.48
6          7    336   0.24  4.0     I    VVS1   62.3   57.0  3.95   NaN  2.47
7          8    337   0.26  4.0     H     SI1    NaN   55.0  4.07  4.11  2.53
8          9    337   0.22  5.0     E     VS2   65.1   61.0  3.87  3.78  2.49
9         10    338   0.23  4.0     H     VS1   59.4   61.0   NaN  4.05  2.39
10        11    339   0.30  3.0   NaN     SI1   64.0   55.0  4.25  4.28  2.73
11        12    340   0.23  1.0     J     VS1   62.8   56.0  3.93  3.90  2.46
12        13    342   0.22  2.0     F     SI1   60.4   61.0  3.88  3.84  2.33
13        14    344   0.31  1.0     J     SI2   62.2   54.0  4.35  4.37  2.71
14        15    345   0.20  2.0     E     SI2   60.2   62.0  3.79  3.75  2.27
15        16    345    NaN  2.0     E      I1   60.9   58.0  4.38  4.42  2.68
16        17    348   0.30  1.0     I     SI2   62.0    NaN  4.31  4.34  2.68
17        18    351   0.30  3.0     J     SI1   63.4   54.0  4.23  4.29  2.70
18        19    351   0.30  NaN   NaN     SI1   63.8   56.0  4.23  4.26  2.71
19        20    351   0.30  4.0     J     SI1   62.7   59.0  4.21  4.27  2.66
20        21    351   0.30  3.0     I     SI2   63.3   56.0  4.26  4.30  2.71
21        22    352   0.23  4.0     E     VS2   63.8   55.0  3.85  3.92  2.48
22        23    353   0.23  4.0     H     VS1   61.0   57.0  3.94  3.96  2.41
23        24    353   0.31  4.0     J     SI1   59.4   62.0  4.39  4.43  2.62
24        25    353   0.31  4.0     J     SI1   58.1   62.0  4.44  4.47  2.59
25        26    354   0.23  4.0     G    VVS2   60.4   58.0  3.97  4.01  2.41
26        27    355   0.24  2.0     I     VS1   62.5   57.0  3.97  3.94  2.47
27        28    357   0.30  4.0     J     VS2   62.2   57.0  4.28  4.30  2.67
28        29    357   0.23  4.0     D     VS2   60.5   61.0  3.96  3.97  2.40
29        30    357   0.23  4.0   NaN     VS1   60.9   57.0  3.96  3.99  2.42
...      ...    ...    ...  ...   ...     ...    ...    ...   ...   ...   ...
53910  53911   2753   0.70  2.0     E     SI1   60.5   58.0  5.74  5.77  3.48
53911  53912   2753   0.57  2.0     E      IF   59.8   60.0  5.43  5.38  3.23
53912  53913   2753   0.61  2.0     F    VVS1   61.8   59.0  5.48  5.40  3.36
53913  53914   2753   0.80  3.0     G     VS2   64.2   58.0  5.84  5.81  3.74
53914  53915   2753   0.84  3.0     I     VS1   63.7   59.0  5.94  5.90  3.77
53915  53916   2753    NaN  1.0     E     SI2   62.1   56.0  5.84   NaN  3.63
53916  53917   2753   0.74  3.0     D     SI1   63.1   59.0  5.71  5.74  3.61
53917  53918   2753    NaN  4.0     J     SI1   63.2   60.0  6.12  6.09  3.86
53918  53919   2753   0.76  2.0     I     VS1   59.3   62.0  5.93  5.85  3.49
53919  53920   2753   0.76  1.0     I    VVS1   62.2   55.0  5.89  5.87  3.66
53920  53921   2755   0.70  4.0     E     VS2   62.4   60.0  5.57  5.61  3.49
53921  53922   2755    NaN  NaN     E     VS2   62.8   60.0  5.59  5.65  3.53
53922  53923   2755   0.70  4.0     D     VS1   63.1   59.0  5.67  5.58  3.55
53923  53924   2756   0.73  1.0     I     VS2   61.3   56.0  5.80  5.84  3.57
53924  53925   2756    NaN  NaN     I     VS2   61.6   55.0  5.82  5.84  3.59
53925  53926   2756   0.79  1.0     I     SI1   61.6   56.0  5.95  5.97  3.67
53926  53927   2756   0.71  1.0   NaN     SI1   61.9   56.0  5.71  5.73  3.54
53927  53928   2756   0.79  3.0     F     SI1    NaN   59.0  6.06  6.13  3.54
53928  53929   2756   0.79  2.0     E     SI2   61.4   58.0  6.03  5.96  3.68
53929  53930   2756    NaN  1.0     G     VS1   61.4   56.0  5.76  5.73  3.53
53930  53931   2756   0.71  2.0     E     SI1    NaN   55.0  5.79  5.74  3.49
53931  53932   2756   0.71  2.0     F     SI1   59.8   62.0  5.74  5.73  3.43
53932  53933   2757   0.70  4.0     E     VS2   60.5   59.0  5.71  5.76  3.47
53933  53934   2757    NaN  NaN     E     VS2   61.2   59.0  5.69  5.72  3.49
53934  53935   2757   0.72  2.0     D     SI1   62.7   59.0  5.69  5.73  3.58
53935  53936   2757   0.72  1.0     D     SI1   60.8   57.0  5.75  5.76  3.50
53936  53937   2757   0.72  3.0     D     SI1   63.1    NaN  5.69  5.75  3.61
53937  53938   2757    NaN  4.0     D     SI1   62.8   60.0  5.66  5.68  3.56
53938  53939   2757   0.86  2.0     H     SI2   61.0   58.0   NaN  6.12   NaN
53939  53940   2757   0.75  1.0     D     SI2   62.2   55.0  5.83  5.87  3.64

[53940 rows x 11 columns]

In [401]:
color_map={'E':1, 'I':2, 'J':3, 'H':4, 'F':5, 'G':6, 'D':7}
clarity_map={'SI2':1, 'SI1':2, 'VS1':3, 'VS2':4, 'VVS2':5, 'VVS1':6, 'I1':7, 'IF':8}

In [402]:
df_dropped['color'] = df_dropped['color'].map(color_map)
df_dropped['clarity'] = df_dropped['clarity'].map(clarity_map)
print(df_dropped)

         obs  price  Carat  cut  color  clarity  depth  table     x     y  \
0          1    326    NaN  1.0    1.0      1.0   61.5   55.0  3.95  3.98
1          2    326   0.21  2.0    1.0      2.0   59.8   61.0  3.89  3.84
2          3    327   0.23  3.0    1.0      3.0   56.9   65.0  4.05  4.07
3          4    334   0.29  2.0    2.0      4.0   62.4   58.0  4.20   NaN
4          5    335   0.31  3.0    3.0      1.0   63.3   58.0  4.34  4.35
5          6    336   0.24  4.0    3.0      5.0   62.8   57.0  3.94  3.96
6          7    336   0.24  4.0    2.0      6.0   62.3   57.0  3.95   NaN
7          8    337   0.26  4.0    4.0      2.0    NaN   55.0  4.07  4.11
8          9    337   0.22  5.0    1.0      4.0   65.1   61.0  3.87  3.78
9         10    338   0.23  4.0    4.0      3.0   59.4   61.0   NaN  4.05
10        11    339   0.30  3.0    NaN      2.0   64.0   55.0  4.25  4.28
11        12    340   0.23  1.0    3.0      3.0   62.8   56.0  3.93  3.90
12        13    342   0.22  2.0    5.0      2.0   60.4   61.0  3.88  3.84
13        14    344   0.31  1.0    3.0      1.0   62.2   54.0  4.35  4.37
14        15    345   0.20  2.0    1.0      1.0   60.2   62.0  3.79  3.75
15        16    345    NaN  2.0    1.0      7.0   60.9   58.0  4.38  4.42
16        17    348   0.30  1.0    2.0      1.0   62.0    NaN  4.31  4.34
17        18    351   0.30  3.0    3.0      2.0   63.4   54.0  4.23  4.29
18        19    351   0.30  NaN    NaN      2.0   63.8   56.0  4.23  4.26
19        20    351   0.30  4.0    3.0      2.0   62.7   59.0  4.21  4.27
20        21    351   0.30  3.0    2.0      1.0   63.3   56.0  4.26  4.30
21        22    352   0.23  4.0    1.0      4.0   63.8   55.0  3.85  3.92
22        23    353   0.23  4.0    4.0      3.0   61.0   57.0  3.94  3.96
23        24    353   0.31  4.0    3.0      2.0   59.4   62.0  4.39  4.43
24        25    353   0.31  4.0    3.0      2.0   58.1   62.0  4.44  4.47
25        26    354   0.23  4.0    6.0      5.0   60.4   58.0  3.97  4.01
26        27    355   0.24  2.0    2.0      3.0   62.5   57.0  3.97  3.94
27        28    357   0.30  4.0    3.0      4.0   62.2   57.0  4.28  4.30
28        29    357   0.23  4.0    7.0      4.0   60.5   61.0  3.96  3.97
29        30    357   0.23  4.0    NaN      3.0   60.9   57.0  3.96  3.99
...      ...    ...    ...  ...    ...      ...    ...    ...   ...   ...
53910  53911   2753   0.70  2.0    1.0      2.0   60.5   58.0  5.74  5.77
53911  53912   2753   0.57  2.0    1.0      8.0   59.8   60.0  5.43  5.38
53912  53913   2753   0.61  2.0    5.0      6.0   61.8   59.0  5.48  5.40
53913  53914   2753   0.80  3.0    6.0      4.0   64.2   58.0  5.84  5.81
53914  53915   2753   0.84  3.0    2.0      3.0   63.7   59.0  5.94  5.90
53915  53916   2753    NaN  1.0    1.0      1.0   62.1   56.0  5.84   NaN
53916  53917   2753   0.74  3.0    7.0      2.0   63.1   59.0  5.71  5.74
53917  53918   2753    NaN  4.0    3.0      2.0   63.2   60.0  6.12  6.09
53918  53919   2753   0.76  2.0    2.0      3.0   59.3   62.0  5.93  5.85
53919  53920   2753   0.76  1.0    2.0      6.0   62.2   55.0  5.89  5.87
53920  53921   2755   0.70  4.0    1.0      4.0   62.4   60.0  5.57  5.61
53921  53922   2755    NaN  NaN    1.0      4.0   62.8   60.0  5.59  5.65
53922  53923   2755   0.70  4.0    7.0      3.0   63.1   59.0  5.67  5.58
53923  53924   2756   0.73  1.0    2.0      4.0   61.3   56.0  5.80  5.84
53924  53925   2756    NaN  NaN    2.0      4.0   61.6   55.0  5.82  5.84
53925  53926   2756   0.79  1.0    2.0      2.0   61.6   56.0  5.95  5.97
53926  53927   2756   0.71  1.0    NaN      2.0   61.9   56.0  5.71  5.73
53927  53928   2756   0.79  3.0    5.0      2.0    NaN   59.0  6.06  6.13
53928  53929   2756   0.79  2.0    1.0      1.0   61.4   58.0  6.03  5.96
53929  53930   2756    NaN  1.0    6.0      3.0   61.4   56.0  5.76  5.73
53930  53931   2756   0.71  2.0    1.0      2.0    NaN   55.0  5.79  5.74
53931  53932   2756   0.71  2.0    5.0      2.0   59.8   62.0  5.74  5.73
53932  53933   2757   0.70  4.0    1.0      4.0   60.5   59.0  5.71  5.76
53933  53934   2757    NaN  NaN    1.0      4.0   61.2   59.0  5.69  5.72
53934  53935   2757   0.72  2.0    7.0      2.0   62.7   59.0  5.69  5.73
53935  53936   2757   0.72  1.0    7.0      2.0   60.8   57.0  5.75  5.76
53936  53937   2757   0.72  3.0    7.0      2.0   63.1    NaN  5.69  5.75
53937  53938   2757    NaN  4.0    7.0      2.0   62.8   60.0  5.66  5.68
53938  53939   2757   0.86  2.0    4.0      1.0   61.0   58.0   NaN  6.12
53939  53940   2757   0.75  1.0    7.0      1.0   62.2   55.0  5.83  5.87

          z
0      2.43
1      2.31
2      2.31
3      2.63
4       NaN
5      2.48
6      2.47
7      2.53
8      2.49
9      2.39
10     2.73
11     2.46
12     2.33
13     2.71
14     2.27
15     2.68
16     2.68
17     2.70
18     2.71
19     2.66
20     2.71
21     2.48
22     2.41
23     2.62
24     2.59
25     2.41
26     2.47
27     2.67
28     2.40
29     2.42
...     ...
53910  3.48
53911  3.23
53912  3.36
53913  3.74
53914  3.77
53915  3.63
53916  3.61
53917  3.86
53918  3.49
53919  3.66
53920  3.49
53921  3.53
53922  3.55
53923  3.57
53924  3.59
53925  3.67
53926  3.54
53927  3.54
53928  3.68
53929  3.53
53930  3.49
53931  3.43
53932  3.47
53933  3.49
53934  3.58
53935  3.50
53936  3.61
53937  3.56
53938   NaN
53939  3.64

[53940 rows x 11 columns]

In [403]:
# Put the nominal data from the dataframe into a numpy array
nominal_attributes = ['cut','color','clarity']
nominal_data = df_dropped.as_matrix(columns=nominal_attributes)

C:\Users\vasuk\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [404]:
# Create Imputer for Categorical Data
cat_imputer = preprocessing.Imputer(strategy='most_frequent')

C:\Users\vasuk\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [405]:
# Impute the missing values in the Categorical Data
imputed_nominal_data = cat_imputer.fit_transform(nominal_data)

In [406]:
imputed_nominal_data

array([[1., 1., 1.],
       [2., 1., 2.],
       [3., 1., 3.],
       ...,
       [4., 7., 2.],
       [2., 4., 1.],
       [1., 7., 1.]])

In [407]:
df_dropped[['cut','color','clarity']]=imputed_nominal_data

In [408]:
df_dropped[['Carat','depth','table','x','y','z']]=imputed_interval_data
df_dropped.head()

,obs,price,Carat,cut,color,clarity,depth,table,x,y,z
0,1,326,0.798309,1.0,1.0,1.0,61.5,55.0,3.95,3.980000,2.43000
1,2,326,0.210000,2.0,1.0,2.0,59.8,61.0,3.89,3.840000,2.31000
2,3,327,0.230000,3.0,1.0,3.0,56.9,65.0,4.05,4.070000,2.31000
3,4,334,0.290000,2.0,2.0,4.0,62.4,58.0,4.20,5.736222,2.63000
4,5,335,0.310000,3.0,3.0,1.0,63.3,58.0,4.34,4.350000,3.53902

**Data after Imputation**

In [409]:
cut_map={1:'Ideal', 2:'Premium', 3:'Good',4: 'Very Good', 5:'Fair'}
color_map={1:'E', 2:'I',3: 'J', 4:'H', 5:'F', 6:'G', 7:'D'}
clarity_map={1:'SI2',2: 'SI1', 3:'VS1', 4:'VS2', 5:'VVS2', 6:'VVS1', 7:'I1', 8:'IF'}
df_dropped['cut']=df_dropped['cut'].map(cut_map)
df_dropped['color'] = df_dropped['color'].map(color_map)
df_dropped['clarity'] = df_dropped['clarity'].map(clarity_map)
print(df_dropped)

         obs  price     Carat        cut color clarity      depth      table  \
0          1    326  0.798309      Ideal     E     SI2  61.500000  55.000000
1          2    326  0.210000    Premium     E     SI1  59.800000  61.000000
2          3    327  0.230000       Good     E     VS1  56.900000  65.000000
3          4    334  0.290000    Premium     I     VS2  62.400000  58.000000
4          5    335  0.310000       Good     J     SI2  63.300000  58.000000
5          6    336  0.240000  Very Good     J    VVS2  62.800000  57.000000
6          7    336  0.240000  Very Good     I    VVS1  62.300000  57.000000
7          8    337  0.260000  Very Good     H     SI1  61.749058  55.000000
8          9    337  0.220000       Fair     E     VS2  65.100000  61.000000
9         10    338  0.230000  Very Good     H     VS1  59.400000  61.000000
10        11    339  0.300000       Good     G     SI1  64.000000  55.000000
11        12    340  0.230000      Ideal     J     VS1  62.800000  56.000000
12        13    342  0.220000    Premium     F     SI1  60.400000  61.000000
13        14    344  0.310000      Ideal     J     SI2  62.200000  54.000000
14        15    345  0.200000    Premium     E     SI2  60.200000  62.000000
15        16    345  0.798309    Premium     E      I1  60.900000  58.000000
16        17    348  0.300000      Ideal     I     SI2  62.000000  57.458378
17        18    351  0.300000       Good     J     SI1  63.400000  54.000000
18        19    351  0.300000      Ideal     G     SI1  63.800000  56.000000
19        20    351  0.300000  Very Good     J     SI1  62.700000  59.000000
20        21    351  0.300000       Good     I     SI2  63.300000  56.000000
21        22    352  0.230000  Very Good     E     VS2  63.800000  55.000000
22        23    353  0.230000  Very Good     H     VS1  61.000000  57.000000
23        24    353  0.310000  Very Good     J     SI1  59.400000  62.000000
24        25    353  0.310000  Very Good     J     SI1  58.100000  62.000000
25        26    354  0.230000  Very Good     G    VVS2  60.400000  58.000000
26        27    355  0.240000    Premium     I     VS1  62.500000  57.000000
27        28    357  0.300000  Very Good     J     VS2  62.200000  57.000000
28        29    357  0.230000  Very Good     D     VS2  60.500000  61.000000
29        30    357  0.230000  Very Good     G     VS1  60.900000  57.000000
...      ...    ...       ...        ...   ...     ...        ...        ...
53910  53911   2753  0.700000    Premium     E     SI1  60.500000  58.000000
53911  53912   2753  0.570000    Premium     E      IF  59.800000  60.000000
53912  53913   2753  0.610000    Premium     F    VVS1  61.800000  59.000000
53913  53914   2753  0.800000       Good     G     VS2  64.200000  58.000000
53914  53915   2753  0.840000       Good     I     VS1  63.700000  59.000000
53915  53916   2753  0.798309      Ideal     E     SI2  62.100000  56.000000
53916  53917   2753  0.740000       Good     D     SI1  63.100000  59.000000
53917  53918   2753  0.798309  Very Good     J     SI1  63.200000  60.000000
53918  53919   2753  0.760000    Premium     I     VS1  59.300000  62.000000
53919  53920   2753  0.760000      Ideal     I    VVS1  62.200000  55.000000
53920  53921   2755  0.700000  Very Good     E     VS2  62.400000  60.000000
53921  53922   2755  0.798309      Ideal     E     VS2  62.800000  60.000000
53922  53923   2755  0.700000  Very Good     D     VS1  63.100000  59.000000
53923  53924   2756  0.730000      Ideal     I     VS2  61.300000  56.000000
53924  53925   2756  0.798309      Ideal     I     VS2  61.600000  55.000000
53925  53926   2756  0.790000      Ideal     I     SI1  61.600000  56.000000
53926  53927   2756  0.710000      Ideal     G     SI1  61.900000  56.000000
53927  53928   2756  0.790000       Good     F     SI1  61.749058  59.000000
53928  53929   2756  0.790000    Premium     E     SI2  61.400000  58.000000
53929  53930   2756  0.798309      Ideal     G     VS1  61.400000  56.000000
53930  53931   2756  0.710000    Premium     E     SI1  61.749058  55.000000
53931  53932   2756  0.710000    Premium     F     SI1  59.800000  62.000000
53932  53933   2757  0.700000  Very Good     E     VS2  60.500000  59.000000
53933  53934   2757  0.798309      Ideal     E     VS2  61.200000  59.000000
53934  53935   2757  0.720000    Premium     D     SI1  62.700000  59.000000
53935  53936   2757  0.720000      Ideal     D     SI1  60.800000  57.000000
53936  53937   2757  0.720000       Good     D     SI1  63.100000  57.458378
53937  53938   2757  0.798309  Very Good     D     SI1  62.800000  60.000000
53938  53939   2757  0.860000    Premium     H     SI2  61.000000  58.000000
53939  53940   2757  0.750000      Ideal     D     SI2  62.200000  55.000000

             x         y        z
0      3.95000  3.980000  2.43000
1      3.89000  3.840000  2.31000
2      4.05000  4.070000  2.31000
3      4.20000  5.736222  2.63000
4      4.34000  4.350000  3.53902
5      3.94000  3.960000  2.48000
6      3.95000  5.736222  2.47000
7      4.07000  4.110000  2.53000
8      3.87000  3.780000  2.49000
9      5.73218  4.050000  2.39000
10     4.25000  4.280000  2.73000
11     3.93000  3.900000  2.46000
12     3.88000  3.840000  2.33000
13     4.35000  4.370000  2.71000
14     3.79000  3.750000  2.27000
15     4.38000  4.420000  2.68000
16     4.31000  4.340000  2.68000
17     4.23000  4.290000  2.70000
18     4.23000  4.260000  2.71000
19     4.21000  4.270000  2.66000
20     4.26000  4.300000  2.71000
21     3.85000  3.920000  2.48000
22     3.94000  3.960000  2.41000
23     4.39000  4.430000  2.62000
24     4.44000  4.470000  2.59000
25     3.97000  4.010000  2.41000
26     3.97000  3.940000  2.47000
27     4.28000  4.300000  2.67000
28     3.96000  3.970000  2.40000
29     3.96000  3.990000  2.42000
...        ...       ...      ...
53910  5.74000  5.770000  3.48000
53911  5.43000  5.380000  3.23000
53912  5.48000  5.400000  3.36000
53913  5.84000  5.810000  3.74000
53914  5.94000  5.900000  3.77000
53915  5.84000  5.736222  3.63000
53916  5.71000  5.740000  3.61000
53917  6.12000  6.090000  3.86000
53918  5.93000  5.850000  3.49000
53919  5.89000  5.870000  3.66000
53920  5.57000  5.610000  3.49000
53921  5.59000  5.650000  3.53000
53922  5.67000  5.580000  3.55000
53923  5.80000  5.840000  3.57000
53924  5.82000  5.840000  3.59000
53925  5.95000  5.970000  3.67000
53926  5.71000  5.730000  3.54000
53927  6.06000  6.130000  3.54000
53928  6.03000  5.960000  3.68000
53929  5.76000  5.730000  3.53000
53930  5.79000  5.740000  3.49000
53931  5.74000  5.730000  3.43000
53932  5.71000  5.760000  3.47000
53933  5.69000  5.720000  3.49000
53934  5.69000  5.730000  3.58000
53935  5.75000  5.760000  3.50000
53936  5.69000  5.750000  3.61000
53937  5.66000  5.680000  3.56000
53938  5.73218  6.120000  3.53902
53939  5.83000  5.870000  3.64000

[53940 rows x 11 columns]

**One hot-encoding to proceed for dataset finalization for Model Building**

In [410]:
resultfinal = pd.concat([df_dropped,pd.get_dummies(df_dropped['cut'], prefix='cut'),pd.get_dummies(df_dropped['color'], prefix='color'),pd.get_dummies(df_dropped['clarity'], prefix='clarity')],axis=1)

In [411]:
resultfinal.drop(['cut'],axis=1, inplace=True)
resultfinal.drop(['color'],axis=1, inplace=True)
resultfinal.drop(['clarity'],axis=1, inplace=True)

**Final Data Set**

In [415]:
resultfinal.head()

,obs,price,Carat,depth,table,x,y,z,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1,326,0.798309,61.5,55.0,3.95,3.980000,2.43000,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,326,0.210000,59.8,61.0,3.89,3.840000,2.31000,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,327,0.230000,56.9,65.0,4.05,4.070000,2.31000,0,1,...,0,0,0,0,0,0,1,0,0,0
3,4,334,0.290000,62.4,58.0,4.20,5.736222,2.63000,0,0,...,1,0,0,0,0,0,0,1,0,0
4,5,335,0.310000,63.3,58.0,4.34,4.350000,3.53902,0,1,...,0,1,0,0,0,1,0,0,0,0

**Linear regression to predict price of Diamond based on features**

In [416]:
from AdvancedAnalytics import linreg
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

**Train Test Split- 70-30 Ratio**

In [413]:
#Train Test Split
y_data = resultfinal['price']
x_data=resultfinal.drop('price',axis=1)
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=1)
print("number of test samples :", x_test.shape[0])
print("number of training samples:",x_train.shape[0])

number of test samples : 16182
number of training samples: 37758

In [417]:
lr=LinearRegression()

In [428]:
col=[]
for i in range(x_train.shape[1]):
    col.append('X'+str(i))

**Model Fit**

In [434]:
lr.fit(x_train,y_train)
print("\n*** LINEAR REGRESSION ***")
linreg.display_coef(lr, x_train, y_train, col)
linreg.display_metrics(lr, x_train, y_train)

*** LINEAR REGRESSION ***

Coefficients

Coefficients
Intercept..    -14831.3775
X0.........         0.0095
X1.........      4016.3295
X2.........        42.7766
X3.........        -3.0508
X4.........      1384.5822
X5.........       373.3371
X6.........       652.2990
X7.........      -672.9710
X8.........       -32.7545
X9.........       275.8348
X10........       226.7594
X11........       203.1314
X12........       703.8234
X13........       484.8308
X14........       401.0840
X15........       242.7484
X16........      -117.2023
X17........      -431.9692
X18........     -1283.3151
X19........     -3541.1247
X20........      1617.7167
X21........      -285.7610
X22........     -1092.2045
X23........       639.1196
X24........       318.4978
X25........      1220.8230
X26........      1122.9332

Model Metrics
Observations...........          37758
Coefficients...........             28
DF Error...............          37730
R-Squared..............         0.8546
Mean Absolute Error....      1120.2998
Median Absolute Error..       923.5600
Avg Squared Error......   2350258.2734
Square Root ASE........      1533.0552

**Model Assessment on Test Data**

In [435]:
y_hat= lr.predict(x_test)
xtestarr = np.asanyarray(x_test)
ytestarr = np.asanyarray(y_test)

print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y_test) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % lr.score(xtestarr, ytestarr))

Residual sum of squares: 2170431.23
Variance score: 0.86